/* @font-face {
  font-family: "UniversNextforHSBC-Regular";
  src: url("../fonts/UniversNext-Regular.otf") format("opentype");
} */

body {
  overflow: hidden;
  /*quitar scrollbar*/
}

.containerCustom {
  text-align: center;
  line-height: 1.428571429;
  font-family: UniversNextforHSBC-Regular, sans-serif !important;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton {
  cursor: pointer;
  background: #db2828;
  color: #F4F4F4ff;
  border-radius: 4px;
  border: none;
  padding: 6px 16px;
  width: 250px;
  font-family: UniversNextforHSBC-Regular, sans-serif !important;
  height: 40px;
  font-size: 14px;
  /* font-size: 0.875rem; */
  line-height: 1.75;
  letter-spacing: 0.02857em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12)
}

.boton:hover {
  text-decoration: none;
  background-color: #b62121
}

.boton:disabled {
  background: #b6b6b8;
  color: rgba(0, 0, 0, 0.26);
}

.input2 {
  /* border: none; */
  font-family: UniversNextforHSBC-Regular, sans-serif !important;
  border-radius: 10px;
  border-bottom: 1px solid #b3bac8;
  border-top: 1px solid #b3bac8;
  border-left: 1px solid #b3bac8;
  border-right: 1px solid #b3bac8;
  max-width: 350px;
  background-color: #FFFF;
  color: #000;
  margin: 0px 7px;
  height: 50px;
  font-size: 18px;
  /* width: 100%; */
  width: 250px;
  text-align: center;
  outline: none;
}

.input2::placeholder {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  margin: 0 0 10px;
  /* font-size: 15px !important; */
}

.input2:focus {
  border-color: rgb(126, 125, 125);
}

.inputCodes {
  letter-spacing: 10px;
}

.inputCodes::placeholder {
  letter-spacing: normal;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(10px); */
  /* Aplica el efecto de desenfoque */
}

.modalCustom {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  top: 120px !important;
  max-width: 350px;
  z-index: 1000000;
}

.input2 {
  /* border: none; */
  border-radius: 10px;
  border-bottom: 1px solid #b3bac8;
  border-top: 1px solid #b3bac8;
  border-left: 1px solid #b3bac8;
  border-right: 1px solid #b3bac8;
  max-width: 600px;
  margin: 0px;
  height: 48px;
  font-size: 18px;
  /* width: 150px; */
  text-align: center;
  outline: none;
}

.input2::placeholder {
  font-size: 13.5px;
}

.input-containerCustom span {
  margin-right: -1px;
}

.input-containerCustom input {
  width: 50px;
  height: 30px;
}

.containerCustom h1 {
  font-weight: bold;
  margin-top: 0.5rem !important;
  margin-bottom: .5rem !important;
  line-height: 1.1 !important;
  /* margin: .67em 0 !important; */
}


.containerCustom hr {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0.5rem !important;
  border-color: #b3bac8 !important;
  /* border: 0 !important; */
  border-top: 1px solid #eee !important;
}



.spinner {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #db2828 94%, #0000) top/9px 9px no-repeat,
    conic-gradient(#0000 30%, #db2828);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.archivo {
  opacity: 0;
  z-index: -1;
  position: absolute;
}


.myclass + label {
  font-size: 12px;

  color: white;
  background-color: gray;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 16px;
  cursor: pointer;
}


.label1 {
  margin-left: 2.5rem;
  position: absolute;
  top: 137px;
  left: 28px;
  font-size: 1.1rem;
  color: #2d3338;
  cursor: text;
  -webkit-transform: translateY(12px);


}
.label2 {
  margin-left: 2.5rem;
  position: absolute;
  top: 137px;
  left: 139px;
  font-size: 1.1rem;
  color: #2d3338;
  cursor: text;
  -webkit-transform: translateY(12px);


}
.label3 {
  margin-left: 2.5rem;
  position: absolute;
  top: 137px;
  left: 241px;
  font-size: 1.1rem;
  color: #2d3338;
  cursor: text;
  -webkit-transform: translateY(12px);


}
*, :after, :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}